.faq-wrapper {
  display: flex;
  flex-direction: column;
}

.faq {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  padding: 10px 10px;
  background-color: rgb(130, 242, 231);
}

.faq button {
  font-size: 2rem;
  background-color: rgb(38, 201, 184);
  color: white;
  border: none;
  border-radius: 5px;
}
